@font-face {
    font-family: 'San Francisco';
    src: url(/Mana/SFDisplay.otf);
}

@font-face {
    font-family: 'San Francisco Thin';
    src: url(/Mana/SFDisplayThin.ttf);
}

body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'San Francisco', sans-serif;
    background-color: #181f14;
    color: #ffffff;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 30px;
    color: #84d153;
    margin-bottom: 20px;
}

.github-button {
    font-family: 'San Francisco Thin', sans-serif;
    letter-spacing: 0.5px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #84d153;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0;
}

.github-button:hover {
    background-color: #4c7932;
}

img {
    margin: 10px;
}

.container {
    background: #263120;
    display: flex;
    margin: 30px 10%;
    padding: 30px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

a {
    color: #84d153;
    text-decoration: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    color: #f0f0f0;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: 550;
    color: #8a8a8a;
    margin-bottom: 20px;
}

header {
    background: transparent;
}
